* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul li {
  font-size: 18px;
}

.class-1 {
  font-size: 30px;
  color: blue;
}

.class-2 {
  font-size: 26px;
  color: green;
}

.class-3 {
  font-size: 20px;
  color: red;
}
